<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @state.nome %>
</p>

<p>
  <strong>Country:</strong>
  <%= @state.country.nome %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
