<p id="notice"><%= notice %></p>

<p>
  <video controls>
    <source src="<%= @video.link%>" type="audio/mpeg">
    Your browser does not support the video element.
  </video>
</p>



<p>
  <strong>Medium:</strong>
  <%= @video.medium.nome %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
