<%= form_for(@membro) do |f| %>
  <% if @membro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membro.errors.count, "error") %> prohibited this membro from being saved:</h2>

      <ul>
      <% @membro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :senha %><br>
    <%= f.password_field :senha %>
  </div>
  <div class="field">
    <%=f.label :confirmacao_da_senha %><br>
    <%=f.password_field :senha_confirmation %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :login %><br>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :data_criacao %><br>
    <%= f.date_select :data_criacao %>
  </div>
  <div class="field">
    <%= f.label :email_admin %><br>
    <%= f.text_field :email_admin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
