<h1>Edit Transcription</h1>

<%= form_for(@transcription) do |f| %>
  <% if @transcription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transcription.errors.count, "error") %> prohibited this transcription from being saved:</h2>

      <ul>
      <% @transcription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "Commentaries" %><br>
    <%= f.text_area :comentario %>
  </div>
  <div class="field">
    <%= f.label "Medium" %><br>
    <%= f.select(:id_midia, Medium.all.map { |medium| [medium.nome, medium.id] })%>
  </div>
    <div class="field">
    <%= f.label "City" %><br>
    <%= f.select(:id_cidade, City.all.map { |city| [city.nome + ' - ' + city.nome_pais, city.id] })%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @transcription %> |
<%= link_to 'Back', transcriptions_path %>
