<h1>Transcriptions</h1>

<table>
  <% unless @transcriptions.empty? %>
    <thead>
      <tr>
        <th>Author</th>
        <th>Medium</th>
        <th>City</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @transcriptions.each do |transcription| %>
        <tr>
          <% @authors.each do |author| %>
            <% if author.id_midia == transcription.id_midia %>
              <td><%= author.email_membro %></td>
              <% break %>
            <% end %>
          <% end %>
          <td><%= transcription.medium.nome %></td>
          <td><%= transcription.city.nome %></td>
          <td><%= link_to 'Show', transcription %></td>
          <% if @current_user.is_admin %>
            <td><%= link_to 'Edit', edit_transcription_path(transcription) %></td>
            <td><%= link_to 'Destroy', transcription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    No transcription found
  <% end %>
</table>

<br>

<%= link_to 'New Transcription', new_transcription_path %>
