<h1>Listing transcriptions</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Codigo</th>
      <th>Comentario</th>
      <th>Medium</th>
      <th>City</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transcriptions.each do |transcription| %>
      <tr>
        <td><%= transcription.id %></td>
        <td><%= transcription.codigo %></td>
        <td><%= transcription.comentario %></td>
        <td><%= transcription.medium.nome %></td>
        <td><%= transcription.city.nome %></td>
        <td><%= link_to 'Show', transcription %></td>
        <td><%= link_to 'Edit', edit_transcription_path(transcription) %></td>
        <td><%= link_to 'Destroy', transcription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transcription', new_transcription_path %>
