<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @transcription.codigo %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to 'Download Transcription', file_transcription_path %>
</p>

<p>
  <strong>Commentaries:</strong>
  <%= @transcription.comentario %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @transcription.medium.nome %>
</p>

<p>
  <strong>City:</strong>
  <%= @transcription.city.nome %>
</p>

<% if @current_user.is_admin %>
  <%= link_to 'Edit', edit_transcription_path(@transcription) %> |
<% end %>
<%= link_to 'Back', transcriptions_path %>
