<h1>Media</h1>

<table>
  <tbody>
    <% unless @media.empty? %>

    <thead>
      <tr>
        <th>Name</th>
        <th>Submission</th>
        <th>Submitter</th>
        <th>City</th>
        <th>Idioms</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

      <% @media.each do |medium| %>
        <tr>
          <td><%= medium.nome %></td>
          <td><%= medium.data_submissao %></td>
          <td><%= medium.email_admin %></td>
          <td><%= medium.city.nome if medium.city.present? %></td>
          <td><% @idioms.each do |idm| %>
            <%= link_to idm.idioma, idiom_path(medium.id, idm[:id]), method: :delete, data: { confirm: 'Are you sure you want to remove this idiom?' } if idm.id_midia == medium.id %>
          <% end %></td>
          <td><%= link_to 'Show', medium %></td>
          <% if @current_user.is_super %>
            <td><%= link_to 'Add Idiom', new_idiom_path(medium.id) %></td>
            <td><%= link_to 'Add Local', new_country_path(medium.id) %></td>
          <% end %>
          <% if @current_user.is_admin %>
            <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
            <td><%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      No medium found
    <% end %>
  </tbody>
</table>

<br>

<% if @current_user.is_super %>
  <%= link_to 'New Medium', new_medium_path %>
<% end %>
