<h1>Media</h1>

<table>
  <tbody>
    <% unless @media.empty? %>

    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Duracao</th>
        <th>Data de Gravação</th>
        <th>Data de Submissão</th>
        <th>Email Coletor</th>
        <th>Email Admin</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

      <% @media.each do |medium| %>
        <tr>
          <td><%= medium.nome %></td>
          <td><%= medium.tipo %></td>
          <td><%= medium.duracao %></td>
          <td><%= medium.data_gravacao %></td>
          <td><%= medium.data_submissao %></td>
          <td><%= medium.email_coletor %></td>
          <td><%= medium.email_admin %></td>
          <td><%= link_to 'Show', medium %></td>
          <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
          <td><%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% else %>
      Nenhuma mídia encontrada
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medium', new_medium_path %>
