<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medium.nome %>
</p>

<p>
  <strong>Type:</strong>
  <%= @medium.tipo %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @medium.duracao %>
</p>

<p>
  <strong>Collector's Email:</strong>
  <%= @medium.email_coletor %>
</p>

<p>
  <strong>Recording Date:</strong>
  <%= @medium.data_gravacao %>
</p>

<p>
  <strong>Submitter Admin's Email:</strong>
  <%= @medium.email_admin %>
</p>

<p>
  <strong>Submission Date:</strong>
  <%= @medium.data_submissao %>
</p>

<p>
  <strong>City:</strong>
  <%= @medium.city.nome if @medium.city.present? %>
</p>

<% if @current_user.is_super %>
  <%= link_to 'Add Idiom', new_idiom_path(@medium.id) %>
<% end %>

<% if @current_user.is_admin %>
  <%= link_to 'Edit', edit_medium_path(@medium) %>
<% end %>

<%= link_to 'Back', media_path %>
