<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.nome %>
</p>

<p>
  <strong>State:</strong>
  <%= @city.state.nome if @city.state.present?%>
</p>

<p>
  <strong>Country:</strong>
  <%= @city.country.nome %>
</p>

<% if @current_user.is_admin %>
  <%= link_to 'Edit', edit_city_path(@city) %> |
<% end %>
<%= link_to 'Back', cities_path %>
