<!DOCTYPE html>
<html>
<head>
  <title>GELIC</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to('logout', '/log-out') if current_user %>
<%= '|' if current_user %>
<%= link_to('members', '/members') if current_user %>
<%= '|' if current_user %>
<%= link_to('media', '/media') if current_user %>
<%= '|' unless current_user.nil? %>
<%= link_to('audios', '/audios') if current_user %>
<%= '|' unless current_user.nil? %>
<%= link_to('transcriptions', '/transcriptions') if current_user %>
<%= '|' unless current_user.nil? %>
<%= link_to('countries', '/countries') if current_user %>
<%= '|' unless current_user.nil? %>
<%= link_to('states', '/states') if current_user %>
<%= '|' unless current_user.nil? %>
<%= link_to('cities', '/cities') if current_user %>
<%= '|' unless current_user.nil? %>
<%= ("Online as " + current_user.email) unless current_user.nil? %>
<%= yield %>

</body>
</html>
