<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @member.senha %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.nome %>
</p>

<p>
  <strong>Login:</strong>
  <%= @member.login %>
</p>

<p>
  <strong>Creation Date:</strong>
  <%= @member.data_criacao %>
</p>

<p>
  <strong>Email Admin:</strong>
  <%= @member.email_admin %>
</p>

<% if @current_user.is_admin %>
  <%= link_to 'Edit', edit_member_path(@member) %>
<% end %>
<%= link_to 'Back', members_path %>
